body {
    background-color: pink;
    text-align: center;
    margin: 200px;
}

title {
    color: white;
}

h1 {
    color: white;
    font-size: 50px;
}

.quote {
    color: white;
    font-style: italic;
}

.steps {
    color: black;
}

h2 {
    color: white;
    font-size: 35px;
    font-family: sans-serif, Verdana, Geneva, Tahoma, ;
}

img#nelson {
    width: 40%;
    height: 50%;
}